@font-face {
    font-family: GoogleSansMedium;
    src: url(../fonts/GoogleSansMedium.ttf);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 400px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header */

.header {
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    padding: 6px;
    width: 100%;
}

.header__nav {
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-right: 4px;
    height: 48px;
}

.header__links {
    display: flex;
    padding-right: 15px;
}

.header__nav-link {
    font: 13px/27px Arial, sans-serif;
    color: black;
    padding-left: 15px;
    text-decoration: none;
}

.header__nav-link:hover {
    text-decoration: underline;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__apps-icon {
    padding: 4px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__apps-icon:hover {
    background: url('../img/icons/circle.svg') center no-repeat;
}

.header__apps-icon a {
    text-decoration: none;
    height: 24px;
}

.header__apps-icon svg {
    opacity: 0.6;
    width: 24px;
    height: 24px;
}

.header__sing-in-btn {
    margin-left: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    padding: 9px 23px;
    min-width: 96px;
    letter-spacing: 0.25px;
    font-size: 14px;
    font-family: GoogleSansMedium;
    background: #1a73e8;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    height: 36px;
    text-align: center;
}

.header__sing-in-btn:hover {
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
    background-color: #1B66C9;
}

/* Logo */

.logo {
    display: flex;
    justify-content: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    box-sizing: border-box;
}

.logo__image {
    margin-top: auto;
    height: 92px;
    max-height: 92px;
    width: auto;
}

/* Search */

.search {
    padding: 20px 20px 0;
}

.search__inner {
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    padding-top: 6px;
}

.search__box {
    display: flex;
    box-sizing: content-box;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.search__box:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.search__elements {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.search__icon-container {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search__icon {
    opacity: 0.4;
}

.search__input-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.search__input-box input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
}

.search__buttons {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.search_keyboard {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.search_keyboard-icon {
    background: url(https://www.gstatic.com/inputtools/images/tia.png) no-repeat center;
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.search__micro {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.search__bottom-buttons {
    height: 70px;
    padding-top: 18px;
    display: flex;
    gap: 4px;
    justify-content: center;
}

.search__bottom-buttons input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search__bottom-buttons input:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.search__bottom-buttons input:active {
    border: #4285F4 solid 1px;
}

/* Search bottom */

.search-bottom {
    flex-shrink: 0;
    flex-grow: 1;
    box-sizing: border-box;
}

.search-bottom__container {
    display: flex;
    justify-content: center;
    font-size: small;
    margin-bottom: 24px;
}

.search-bottom__text {
    text-align: center;
    display: inline-block;
    color: #4d5156;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
}

.search-bottom__text a {
    color: #1a0dab;
    text-decoration: none;
    padding: 0 3px;
}

.search-bottom__text a:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.footer__text {
    font-size: 15px;
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
}

.footer__country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.footer__links-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer__carbon {
    order: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.footer__carbon a {
    display: flex;
}

.footer__carbon img {
    height: 14px;
    margin-right: 6px;
}

.footer__link {
    padding: 15px;
    font-size: 14px;
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__first-block {
    display: flex;
    flex-wrap: wrap;
    min-width: 30%;
    justify-content: flex-start;
    order: 1;
}

.footer__second-block {
    display: flex;
    flex-wrap: wrap;
    min-width: 30%;
    justify-content: flex-end;
    order: 3;
}

@media only screen and (min-width: 1432px) {
    .footer__links-container {
        justify-content: space-between;
    }

    .footer__carbon {
        order: 2;
        width: auto;
    }
}